#link-cards-wrapper {
	margin-top: $base-line-height * 3;
}

.link-card-wrapper {
	height: 300px;
	@include span-columns(4);

	a {
		@extend %neutral-link;
	}
}

.link-card {
	height: 100%;
	// border-top: 4px solid lighten($blue, 25%);
	border-top: 4px solid lighten($main-color, 15%);
	padding: 0 $base-line-height;
	background-color: #EEE;
	color: $txt-color;
	transition: transition-length(1);
	box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.1);

	&:hover {
		// border-top-color: $blue;
		border-top-color: $main-color;
	}

	h2 {
		text-align: center;
	}

	p {
		text-align: center;
		line-height: 1.7em;
	}
}
