<main class="main-content">
	<h1>Welcome! Tervetuloa! Mui.</h1>
	<p class="subtitle">
		This page is a small demo demonstrating the use of AngularJS, UI-Router and RESTful APIs.
		Created by <a class="o-link" href="http://nsquared.fi/" target="_blank">Aleksanteri Hämäläinen</a>.
	</p>
	<div id="link-cards-wrapper">
		<div class="link-card-wrapper">
			<a ui-sref="apod">
				<section class="link-card">
					<h2>APOD</h2>
					<p>The Astronomy Picture of the Day by NASA. Search by date or browse through.</p>
				</section>
			</a>
		</div>
		<div class="link-card-wrapper">
			<a ui-sref="rover">
				<section class="link-card">
					<h2>Rover</h2>
					<p>Pictures taken by Mars Rovers Curiosity, Opportunity and Spirit.
				</section>
			</a>
		</div>
		<div class="link-card-wrapper">
			<a ui-sref="foaas">
				<section class="link-card">
					<h2>FOAAS</h2>
					<p>Found this a while ago and I've been looking for somewhere to use it. Well, here it is.</p>
				</section>
			</a>
		</div>
	</div>

</main>
